.contact {
    background-color: #f0ffff;
    display: flex;

    .left {
        flex: 1;
        overflow: hidden;

        img {
            height: 100%;
        }
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 30px;
            font-family: 'Times New Roman', Times, serif;
            text-transform: uppercase;


        }

        form {
            width: 70%;
            height: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            gap: 10px;

            input {
                width: 70%;
                height: 30px;
                border-radius: 10px;
                outline: none;
                font-size: 15px;
                background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                border: 1px solid black;

            }

            &:focus {
                outline: none;
            }

            textarea {
                width: 70%;
                height: 200px;
                font-size: 15px;
            }

            button {
                color: white;
                padding: 5px 10px;
                border-radius: 5px;
                // background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
                background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
                border: none;
                font-size: 20px;
                cursor: pointer;
                font-weight: 500;
            }

            span{
                color: green;
            }





        }

    }

}